<div class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li ng-class="{active:listType != 'table'}">
        <a href="#" ng-click="showGrid()" ng-disabled="listType != 'table'">
          &nbsp;
          <i class="fa fa-th-large"></i>
          &nbsp;
        </a>
      </li>
      <li ng-class="{active:listType === 'table'}">
        <a href="#" ng-click="showTable()" ng-disabled="listType === 'table'">
          &nbsp;
          <i class="fa fa-th-list"></i>
          &nbsp;
        </a>
      </li>
    </ul>
    <form class="navbar-form navbar-right">
      <div class="form-group">
        <input type="text" ng-model="collections.filterByName" class="form-control" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-info" ng-click="search()"><i class="fa fa-search"></i> Search</button>
    </form>
  </div>
</div>

<div class="container-fluid">
  <div class="row" style="margin-bottom:10px;">
    <div class="col-md-5">
      <form class="form-inline">
        <div class="form-group">
          <label for="add-username">Add Username</label>
          <input id="add-username" type="text" class="form-control" ng-model="addUsername"></input>
        </div>
        <button class="btn btn-primary" ng-click="addUser(addUsername)" ng-disabled="addUsername.length <= 2">
          <i class="fa fa-plus"></i> Add
        </button>
        &nbsp;
        <span ng-if="isPolling()">
          <i class="fa fa-refresh fa-spin"></i> Loading Collections...
        </span>
      </form>
    </div>

    <div class="col-md-7">
      <div ng-repeat="user in users" class="pull-right">
        <div class="pull-right">
          <button class="btn btn-danger" ng-click="removeUser(user)"><i class="fa fa-times"></i> <span ng-bind="user"></span></button>
          &nbsp;
        </div>
      </div>
    </div>
  </div>

  <div ng-if="listType === 'grid'" class="row">
    <div ng-repeat="bgame in collections.filteredAndSortedGames">
      <div class="col-md-2 col-sm-4 col-xs-6 text-center">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4><span ng-bind="bgame.name"></span></h4>
          </div>
          <div class="panel-body">
            <img ng-src="{{bgame.thumbnail}}" class="img-rounded img-responsive center-block" />

          </div>
          <div class="panel-footer">
              <div class="row">
                <div class="col-md-6">
                  Rating: <span ng-bind="bgame.rating()"></span>
                </div>
                <div class="col-md-6">
                  <div class="hidden-md hidden-lg">
                    <div ng-if="bgame.minplayers !== bgame.maxplayers">
                      <span ng-bind="bgame.minplayers"></span> to <span ng-bind="bgame.maxplayers"></span> Players
                    </div>
                    <div ng-if="bgame.minplayers === bgame.maxplayers">
                      <span ng-bind="bgame.minplayers"></span> Players
                    </div>
                  </div>
                  <div class="pull-right hidden-sm hidden-xs">
                    <div ng-if="bgame.minplayers !== bgame.maxplayers">
                      <span ng-bind="bgame.minplayers"></span> to <span ng-bind="bgame.maxplayers"></span> Players
                    </div>
                    <div ng-if="bgame.minplayers === bgame.maxplayers">
                      <span ng-bind="bgame.minplayers"></span> Players
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
      <div ng-if="$index % 6 === 5">
        <div class="clearfix hidden-xs hidden-sm"></div>
      </div>
      <div ng-if="$index % 3 === 2">
        <div class="clearfix hidden-xs hidden-md hidden-lg"></div>
      </div>
      <div ng-if="$index % 2 === 1">
        <div class="clearfix hidden-sm hidden-md hidden-lg"></div>
      </div>
    </div>
  </div>
  <div ng-if="listType === 'table'" class="row=">
    <table class="table table-hover table-responsive">
      <thead>
        <tr>
          <th>Board Game</th>
          <th>Min Players</th>
          <th>Max Players</th>
          <th>Rating</th>
          <th>Owners</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="bgame in collections.filteredAndSortedGames">
          <td>
            <span ng-bind="bgame.name"></span>
          </td>
          <td>
            <span ng-bind="bgame.minplayers"></span>
          </td>
          <td>
            <span ng-bind="bgame.maxplayers"></span>
          </td>
          <td>
            <span ng-bind="bgame.rating()"></span>
          </td>
          <td>
            <div ng-repeat="owner in bgame.owners">
              <span ng-bind="owner.name"></span>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>