<div class="navbar navbar-default">
  <ul class="nav navbar-nav">
    <li ng-class="{active:showInGrid}">
      <a href="#" ng-click="showGrid()" ng-disabled="showInGrid">
        &nbsp;
        <i class="glyphicon glyphicon-th-large"></i>
        &nbsp;
      </a>
    </li>
    <li ng-class="{active:showInTable}">
      <a href="#" ng-click="showTable()" ng-disabled="showInTable">
        &nbsp;
        <i class="glyphicon glyphicon-th-list"></i>
        &nbsp;
      </a>
    </li>
  </ul>
</div>

<div class="container-fluid">
  <div class="row">
    <div ng-repeat="user in users" class="pull-right">
      <div class="pull-right">
        <span ng-bind="user.username"></span>
        <button class="btn btn-danger" ng-click="removeUser(user.username)">Remove</button>
        &nbsp;
      </div>
    </div>

    <form class="form-inline">
      <div class="form-group">
        <label for="add-username">Add Username</label>
        <input id="add-username" type="text" class="form-control" ng-model="addUsername"></input>
      </div>
      <button class="btn btn-primary" ng-click="addUser()">Add</button>
    </form>

    <br />
  </div>

  <div ng-if="showInGrid" class="row">
    <div ng-repeat="bgame in collection">
      <div class="col-md-2 col-sm-4 col-xs-6 text-center">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4><span ng-bind="bgame.name"></span></h4>
          </div>
          <div class="panel-body">
            <img ng-src="{{bgame.thumbnail}}" class="img-rounded img-responsive center-block" />
          </div>
        </div>
      </div>
      <div ng-if="$index % 6 === 5">
        <div class="clearfix hidden-xs hidden-sm"></div>
      </div>
      <div ng-if="$index % 3 === 2">
        <div class="clearfix hidden-xs hidden-md hidden-lg"></div>
      </div>
      <div ng-if="$index % 2 === 1">
        <div class="clearfix hidden-sm hidden-md hidden-lg"></div>
      </div>
    </div>
  </div>
  <div ng-if="showInTable" class="row=">
    <table>
      <thead>
        <tr>
          <th>Board Game</th>
          <th>Owners</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="bgame in collection">
          <td>
            <span ng-bind="bgame.name"></span>
          </td>
          <td ng-repeat="owner in bgame.owners">
            <span ng-bind="owner"></span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>