.test {
    color: black;
}

.board-game {
    float: left;
    margin: 15px;
    padding: 10px;
    text-align: center;
}
.board-game:hover {
    margin: 14px;
    border: 1px solid black;
    box-shadow: 2px 2px gray;
    cursor: pointer;
}
.user-list {
    display: inline-block;
    margin-left: 1em;
    margin-right: 1em;
    padding-top: .5em;
}
.user {
    float: left;
    margin-right: 1em;
}